{% extends 'base.html.twig' %}

{% block title %}Date d'exposition{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-fluid bannierDetail" style="background-image: url('img/pexels-karolina-grabowska-4040567.jpg' )">
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="row p-5">
                <div class="col-12 text-white">
                    <h1>Date d'exposition</h1>
                </div>
            </div>
            <div class="row p-5">
            {% for exposition in expositions %}
                <div class="col-12">
                    <div class="row text-white">
                        <div class="col-12 col-md-1 displayEvent text-start my-3 sizeDay">{{ exposition.day|date("d") }}</div>
                        <div class="col-12 col-md-2 displayEvent text-start my-3">{{ exposition.day|date("m/Y") }}</div>
                        <div class="col-md-7 text-start">
                            <div class="displayEvent my-3">{{ exposition.adresse}}</div>
                            <div class="displayEvent my-3">{{ exposition.city}}</div>
                            <div class="displayEvent my-3">{{ exposition.zipCode}}</div>
                        </div>
                        <div class="col-md-2 text-start my-3">
                            <div class="displayEvent">{{ exposition.beginAt|date("H:i") }} - </div>
                            <div class="displayEvent">{{ exposition.endAt|date("H:i") }}</div>
                        </div>
                        <hr>
                    </div class="row">
                </div>
            {% endfor %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}
