{% extends 'base.html.twig' %} 

{% block title %}Accueil{% endblock %}
 
{% block body %}

{#------------
--- HEADER ---
------------#}

<section id="homeHeader" class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden bannierDetail" style="background-image: url('img/7c324a63d3763d5f31df29c66b645899.jpg' )">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                <div class="row align-self-center h-100">
                    <div class="col-12 align-self-center text-center">
                        <h1>donner le ton</h1> 
                        <a href="#" class="text-white border border-white py-3 px-2 text-decoration-none">Voir les produits</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{#--------------
--- CAROUSEL ---
--------------#}

<section id="carouselNewProduct"class="p-5">
    {# <div class="container"> #}
        <h3>Les derniers produits</h3>
        <div id="carouselExampleDark" class="carousel carousel-dark slide h-100 p-4" data-bs-ride="carousel">
            <div class="carousel-inner h-100">
                <div class="carousel-item active h-100">
                    <div class="row h-100">
                        {% for firstProduct in firstProducts %}
                            <div class="col-12 col-md-3">
                                <a href="{{ path('app_product_details', {id:firstProduct.id})}}">
                                    {# <img src="{{ asset('img/' ~ firstProduct.image)}}" class="d-block w-100 img-fluid" alt="{{ firstProduct.name }}"> #}
                                    <figure class="figure h-100">
                                        <img src="{{ asset('img/' ~ firstProduct.image)}}" class="figure-img img-fluid rounded imgCarousel" alt="{{ firstProduct.name }}">
                                        <figcaption class="figure-caption">{{ firstProduct.name }}</figcaption>
                                    </figure>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <div class="row h-100">
                        {% for nextProduct in nextProducts %}
                            <div class="col-12 col-md-3">
                                <a href="{{ path('app_product_details', {id:nextProduct.id})}}">
                                    {# <img src="{{ asset('img/' ~ nextProduct.image )}}" class="d-block w-100 img-fluid" alt="{{ nextProduct.name }}"> #}
                                    <figure class="figure h-100">
                                        <img src="{{ asset('img/' ~ nextProduct.image)}}" class="figure-img img-fluid rounded imgCarousel" alt="{{ nextProduct.name }}">
                                        <figcaption class="figure-caption">{{ nextProduct.name }}</figcaption>
                                    </figure>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <div class="row h-100">
                        {% for lastProduct in lastProducts %}
                            <div class="col-12 col-md-3">
                                <a href="{{ path('app_product_details', {id:lastProduct.id})}}">
                                    {# <img src="{{ asset('img/' ~ lastProduct.image )}}" class="d-block w-100 img-fluid" alt="{{ lastProduct.name }}"> #}
                                    <figure class="figure h-100">
                                        <img src="{{ asset('img/' ~ lastProduct.image)}}" class="figure-img img-fluid rounded imgCarousel" alt="{{ lastProduct.name }}">
                                        <figcaption class="figure-caption">{{ lastProduct.name }}</figcaption>
                                    </figure>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row">
            <div class="col-12 align-self-center text-center p-3">
                <a href="#" class="text-black border border-black py-3 px-2 text-decoration-none text-center">Voir les produits</a>
            </div>
        </div>
    {# </div> #}
</section>

{#---------------
---  PRODUCTS ---
---------------#}

<section id="productsHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 order-2 col-md-6 order-md-1 py-5" style="background-color: #f6f3ef"> 
                <div class="row h-100">
                    <div class="col-6 m-auto text-center">
                        <a href="#" class="text-decoration-none">
                            <img src="img/e9088301b340ef0916dd5da4111c2eb5.jpg" class="img-fluid" alt="">
                            <p>Je suis un titre</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 order-1 col-md-6 order-md-2 py-5 bannierDetail productImg" style="background-image: url('img/agate-g737a3da84_1280.jpg' )">
                 <div class="row h-100">
                    <div class="col-12 m-auto text-center p-5">
                        <a href="{{ path('wristbands_products')}}" class="text-decoration-none text-white"><h3>Bracelets</h3></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 order-3 col-md-6 order-md-3 py-5 bannierDetail productImg" style="background-image: url('img/pexels-noelle-otto-906056.jpg' )">
                <div class="row h-100">
                    <div class="col-12 m-auto text-center p-5">
                        <a href="{{ path('necklaces_products')}}" class="text-decoration-none text-white"><h3>Colliers</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-12 order-4 col-md-6 order-md-4 py-5" style="background-color: #f6f3ef">
                <div class="row h-100">
                    <div class="col-6 m-auto text-center">
                        <a href="#" class="text-decoration-none">
                            <img src="img/e9088301b340ef0916dd5da4111c2eb5.jpg" class="img-fluid" alt="">
                            <p>Je suis un titre</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{#---------------
--- CATEGORY ---
---------------#}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4 my-3">
                <div class="imgCategory position-relative">
                    <img src="img/pexels-глеб-коровко-9693643.jpg" alt="" class="img-fluid imgCategory">
                    <div class="position-absolute top-0 h-100 w-100 d-flex">
                        <a href="{{ path('minerals_products')}}" class="m-auto text-white text-decoration-none">Les minéraux</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="imgCategory position-relative">
                    <img src="img/pexels-olya-kobruseva-5417678.jpg" alt="" class="img-fluid imgCategory">
                     <div class="position-absolute top-0 h-100 w-100 d-flex">
                        <a href="{{ path('app_all_expositions')}}" class="m-auto text-white text-decoration-none">Voir l'agenda</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="imgCategory position-relative">
                    <img src="img/pexels-miguel-á-padriñán-1591062.jpg" alt="" class="img-fluid imgCategory">
                     <div class="position-absolute top-0 h-100 w-100 d-flex">
                        <a href="{{ path('app_contact')}}" class="m-auto text-white text-decoration-none">Contactez-nous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}