{% extends 'base.html.twig' %}

{% block title %}Les bracelets par catégories{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-10">
            {# <div class="row">
                {% for product in pierres.products %}
                    <div class="col-12 col-md-4">
                        <a href="{{ path('app_product_details', {id:product.id})}}">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ asset('img/' ~ product.image)}}" class="card-img-top" alt="{{ product.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div> #}

            
            <div class="row p-5">
                <div class="col-md-5">
                    <div class="card col-3" style="width: 18rem;">
                        {% for product_minerals in pierres.products %}
                            <a href="{{ path('app_product_details', {id:product_minerals.id})}}">
                                <img src="{{ asset('img/' ~ product_minerals.image)}}" class="card-img-top" alt="..."> 
                                <div class="card-body">
                                    <h5 class="card-title">{{ product_minerals.name }}</h5>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
