{% extends 'base.html.twig' %}

{% block title %}Les bracelets par catégories{% endblock %}

{% block body %}

<section class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden bannierDetail" style="background-image: url('{{asset('img/' ~ colliers.image )}}')">
  
    <div class="hero-content pb-5 pt-5 text-center">
        <h1>{{colliers.name}}</h1>
    </div>
</section>
<div class="container">
    <div class="row">
        {% for product in colliers.products %}
            <div class="col-6 col-md-4 col-lg-3 py-5">
                <a href="{{ path('app_product_details', {id:product.id})}}" class="text-decoration-none text-dark">
                    <div class="card card-product" style="width: auto;">
                        <div class="ratio ratio-4x3">
                            <img src="{{ asset('img/' ~ product.image)}}" class="card-img-top img-fluid" alt="{{ product.name }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center fs-6 fw-light">{{ product.name }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('necklaces_products')}}" class="btn btn-primary">retour</a>
           
</div>
{% endblock %}
