{% extends 'base.html.twig' %}

{% block title %}détail du produit{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row p-5">
                <div class="col-12">
                    <h1>Détail du produit</h1>
                </div>
            </div>
            <div class="row p-5 pt-0">
                <div class="col-md-5 pb-3">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="{{ asset('img/' ~ produits.image)}}" class="card-img-top" alt="{{ produits.name }}">
                        <div class="card-body">  
                            <h5 class="card-title">{{ produits.name }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 mt-3">
                     <p class="card-text">{{ produits.description}}</p>
                </div>
            </div>
            <div class="row p-5 pt-0">
                <div class="col-12 col-md-3">
                    {% for item in detailProduit %}
                        {% if (item.parent.id == '1') and (produits.categories.id == item.id)%}
                            <a href="{{ path('wristbands_details', {id:produits.categories.id})}}" class="btn btn-primary">retour bracelet</a>
                        {% elseif (item.parent.id == '2') and (produits.categories.id == item.id) %}
                            <a href="{{ path('necklaces_details', {id:produits.categories.id})}}" class="btn btn-success">retour collier</a>
                        {% elseif (item.parent.id == '3') and (produits.categories.id == item.id)%}
                            <a href="{{ path('minerals_details', {id:produits.categories.id})}}" class="btn btn-danger">retour pierre</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
