{% extends 'base.html.twig' %}

{% block title %}Les bracelets par catégories{% endblock %}

{% block body %}
<section class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden bannierDetail" style="background-image: url('{{asset('img/' ~ bracelets.image )}}')">
  
    <div class="hero-content pb-5 pt-5 text-center">
        <h1>{{bracelets.name}}</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="text-center text-white">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home')}}" class="text-decoration-none text-white">Accueil</a></li>
                {% for categorie in braceletCategory %}
                    {% if categorie.type == 1 %}
                        <li class="breadcrumb-item"><a href="{{ path('wristbands_products')}}" class="text-decoration-none text-white">{{ categorie.name }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="breadcrumb-item active text-white" aria-current="page">{{ bracelets.name }}</li>
            </ol>
        </nav>
    </div>
    {{ dump() }}
</section>
<div class="container">
    <div class="row">
        {% for product in bracelets.products %}
            <div class="col-6 col-md-4 col-lg-3 py-4">
                <a href="{{ path('app_product_details', {id:product.id})}}" class="text-decoration-none text-dark">
                    <div class="card card-product" style="width: auto;">
                        <div class="ratio ratio-4x3">
                            <img src="{{ asset('img/' ~ product.image)}}" class="card-img-top img-fluid" alt="{{ product.name }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center fs-6 fw-light">{{ product.name }}</h5>
                        </div>
                    </div>
                 </a>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('wristbands_products')}}" class="btn btn-primary">retour</a>

</div>
{% endblock %}
