{% extends 'baseAdmin.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
    <h1>Gestion des produits</h1>

    <h3>Bracelet</h3>
    {% for bracelet in bracelets %}
        {{ bracelet.name}}
        {{ bracelet.description}}
    <img src="{{ asset('img/' ~ bracelet.image)}}" alt="">
    <a href="{{ path('update_products', {id:bracelet.id}) }}">modifier</a>
    <a href="{{ path('delete_products', {id:bracelet.id}) }}">supprimer</a>
    {% endfor %}
    

    <h3>Collier</h3>
    {% for collier in colliers %}
        {{ collier.name}}
        {{ collier.description}}
    <img src="{{ asset('img/' ~ collier.image)}}" alt="">
    <a href="{{ path('update_products', {id:collier.id}) }}">modifier</a>
    <a href="{{ path('delete_products', {id:collier.id}) }}">supprimer</a>
    {% endfor %}
    

    <h3>Pierre</h3>
    {% for pierre in pierres %}
        {{ pierre.name}}
        {{ pierre.description}}
    <img src="{{ asset('img/' ~ pierre.image)}}" alt="">
    <a href="{{ path('update_products', {id:pierre.id}) }}">modifier</a>
    <a href="{{ path('delete_products', {id:pierre.id}) }}">supprimer</a>
    {% endfor %}
    <a href="{{ path('create_products')}}">Ajouter produit</a>

{% endblock %}
