{% extends 'baseAdmin.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="row p-5">
                <div class="col-4">
                    <h1>Gestion des produits</h1>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-md-5">
                    {% for bracelet in bracelets %}
                        {% if bracelet.parent == NULL %}
                            <h3>{{ bracelet.name }}</h3>
                        {% else %} 
                            <div class="card col-3" style="width: 18rem;">
                                {% for product in bracelet.products %}
                                    <img src="{{ asset('img/' ~ product.image)}}" class="card-img-top" alt="..."> 
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.description}}</p>
                                        <a href="{{ path('update_products', {id:product.id}) }}" class="btn btn-primary">modifier</a>
                                        <a href="{{ path('delete_products', {id:product.id}) }}" class="btn btn-danger">supprimer</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
            <div class="row p-5">
                <div class="col-md-5">
                    {% for collier in colliers %}
                        {% if collier.parent == NULL %}
                            <h3>{{ collier.name }}</h3>
                        {% else %} 
                            <div class="card col-3" style="width: 18rem;">
                                {% for product in collier.products %}
                                    <img src="{{ asset('img/' ~ produtct.image)}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.description}}</p>
                                        <a href="{{ path('update_products', {id:product.id}) }}" class="btn btn-primary">modifier</a>
                                        <a href="{{ path('delete_products', {id:product.id}) }}" class="btn btn-danger">supprimer</a>
                                {% endfor %}
                            </div> 
                        </div>
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
            <div class="row p-5">
                <div class="col-md-5">
                    {% for pierre in pierres %}
                        {% if pierre.parent == NULL %}
                            <h3>{{ pierre.name }}</h3>
                        {% else %} 
                            <div class="card col-3" style="width: 18rem;">
                                {% for product in pierre.products %}
                                    <img src="{{ asset('img/' ~ product.image)}}" class="card-img-top" alt="...">
                                    <div class="card-body">  
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.description}}</p>
                                        <a href="{{ path('update_products', {id:product.id}) }}" class="btn btn-primary">modifier</a>
                                        <a href="{{ path('delete_products', {id:product.id}) }}" class="btn btn-danger">supprimer</a>
                                {% endfor %}      
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            <a href="{{ path('create_products')}}">Ajouter produit</a>

        </div>
    </div>
</div>

{% endblock %}