{% extends 'baseAdmin.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="row p-5">
                <div class="col-4">
                    <h1>Gestion des produits</h1>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-md-5">
                    <h3>Bracelet</h3>
                    {% for bracelet in bracelets %}
                    <div class="card col-3" style="width: 18rem;">
                        <img src="{{ asset('img/' ~ bracelet.image)}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ bracelet.name}}</h5>
                            <p class="card-text">{{ bracelet.description}}</p>
                            <a href="{{ path('update_products', {id:bracelet.id}) }}" class="btn btn-primary">modifier</a>
                            <a href="{{ path('delete_products', {id:bracelet.id}) }}" class="btn btn-danger">supprimer</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row p-5">
                <h3>Collier</h3>
                {% for collier in colliers %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('img/' ~ collier.image)}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ collier.name}}</h5>
                        <p class="card-text">{{ collier.description}}</p>
                        <a href="{{ path('update_products', {id:collier.id}) }}" class="btn btn-primary">modifier</a>
                        <a href="{{ path('delete_products', {id:collier.id}) }}" class="btn btn-danger">supprimer</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row p-5">
                <h3>Pierre</h3>
                {% for pierre in pierres %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('img/' ~ pierre.image)}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pierre.name}}</h5>
                        <p class="card-text">{{ pierre.description}}</p>
                        <a href="{{ path('update_products', {id:pierre.id}) }}" class="btn btn-primary">modifier</a>
                        <a href="{{ path('delete_products', {id:pierre.id}) }}" class="btn btn-danger">supprimer</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            div.row
            <a href="{{ path('create_products')}}">Ajouter produit</a>

        </div>
    </div>
</div>

{% endblock %}