<h2>Coordonnées du contact</h2>

<ul>
    <li>Nom : {{ prenom }} {{ nom|upper }}</li>
    <li>Email : {{ adresseEmail }}</li>
</ul>

<h2>Objet : {{ objet }}</h2>

<h2>Message :</h2>
<p>{{ message|nl2br }}</p>
